.info-propostas .propostas-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.info-propostas .propostas-container > div {
    width: 100%;
    /* background-color: var(--white-color); */
    padding: 1rem 0;
    text-align: center;
    border-radius: 1rem;
}

/* .propostas-recebidas-container {
    transition: 2s linear;
} */

.info-propostas-recebidas > p,
.info-propostas-enviadas > p {
    margin-bottom: 1.5rem;
}

.proposta-produto {
    /* padding: 0 0 0.5rem 0; */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid var(--black-color); */
    /* margin-bottom: 0.5rem; */

    transition: 2s linear;
}
.proposta-produto .proposta-produto-info {
    display: flex;
    height: 3rem;
    justify-content: space-around;
    border-radius: 5px;
    border: 1px solid var(--black-color);
    background-color: var(--white-color);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.proposta-produto .proposta-produto-info:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.proposta-produto .proposta-produto-info > span {
    display: flex;
    align-items: center;
    justify-content: center;
}
.status-btn {
    font-size: 1rem;
    background-color: transparent;
    border: transparent;
    padding: 0 1rem;
    cursor: pointer;
}

.container-proposta-individual-produto {
    padding: 0.5rem 0.25rem;
    display: flex;
    flex-direction: column;

    height: 0;
    opacity: 0;
    z-index: -999;

    /* transition: 2s; */
}
.container-proposta-individual-produto.show {
    height: auto;
    opacity: 1;
    z-index: 0;

    /* transition: 1s; */
}

.proposta-individual-produto {
    display: flex;
    width: 100%;
    padding: 0.5rem 0.5rem;
    justify-content: space-between;
    border-radius: 5px;
    margin-bottom: 0.25rem;
    align-items: center;
    border: 1px solid var(--black-color);
    min-height: 3rem;
    background-color: var(--white-color);
    transition: 1s;
}

.proposta-individual-produto-ver-proposta {
    cursor: pointer;
}

.container-proposta-individual-produto-decisao-btn-aceitar {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
}

.container-proposta-individual-produto-decisao-btn {
    width: 60px;
    margin-left: 0.5rem;
    padding: 0.1rem;
    border: 1px solid #8bbf9f;
    background-color: #8bbf9f;
    cursor: pointer;
    color: var(--white-color);
    border-radius: 5px;
}
.container-proposta-individual-produto-decisao-btn:hover {
    background-color: var(--black-color);
    border: 1px solid var(--black-color);
    color: white;
}

.container-proposta-individual-produto-decisao-btn-recusar {
    width: 60px;
    margin-left: 0.5rem;
    padding: 0.1rem;
    background-color: var(--red-color);
    border: 1px solid var(--red-color);
    /* background-color: transparent; */
    cursor: pointer;
    color: var(--white-color);
    border-radius: 5px;
}
.container-proposta-individual-produto-decisao-btn-recusar:hover {
    background-color: var(--black-color);
    border: 1px solid var(--black-color);
    color: white;
}

/* detalhe proposta */

.proposta-detalhe-center {
    width: 90vw;
    max-width: 700px;
    /* max-height: 500px; */
    padding: 1.5rem;
    position: relative;
    background-color: var(--yellow-color);
    border-radius: 0.5rem;
    /* border: 1px solid var(--white-color); */
}
.proposta-detalhe-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.25rem;
    color: var(--red-color);
}
.proposta-detalhe-container {
    display: flex;
    /* min-height: 500px; */
}
.proposta-detalhe-produto {
    width: 275px;
    /* background-color: #fff; */
}
.proposta-detalhe-container .troca-img-container {
    padding: 1rem;
    max-width: 100px;
    display: flex;
    align-items: center;
}
.proposta-detalhe-container .troca-img-container .troca-img {
    max-width: 100%;
}
.proposta-detalhe-usuario {
    height: 75px;
    display: flex;
    /* border: 1px solid black; */
    padding: 0.25rem;
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 9);
    margin-bottom: 0.5rem;
    color: var(--white-color);
}
.proposta-detalhe-usuario > p{
    text-transform: capitalize;
}

.proposta-detalhe-usuario-img-container {
    height: 100%;
    margin-right: 0.5rem;
}
.proposta-detalhe-usuario-img-container > img {
    height: 100%;
    border-radius: 50%;
}

.proposta-detalhe-produtos-c {
    /* border: 1px solid black; */
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.proposta-detalhe-produto-single-product {
    display: flex;
    height: 60px;
    border: 1px solid var(--black-color);
    border-radius: 0.5rem;
    background-color: var(--blue-color2);
}
.proposta-detalhe-produto-single-product-img-container {
    width: 33%;
    min-width: 90px;
    margin-right: 0.5rem;
}
.proposta-detalhe-produto-single-product-img-container
    .proposta-detalhe-produto-single-product-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.proposta-detalhe-produto-single-product-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 67%;
    overflow: hidden;
    padding-right: 0.25rem;
    align-items: flex-start;
}
.proposta-detalhe-produto-single-product-info-container > * {
    white-space: nowrap;
}

.proposta-detalhe-produto-single-product-info-container > span {
    color: var(--yellow-color);
}

@media screen and (min-width: 600px) {
    /* .info-propostas .propostas-container {
        flex-direction: row;
    }
    .info-propostas .propostas-container > div {
        width: 50%;
    } */
}

@media screen and (min-width: 900px) {
    .info-propostas .propostas-container {
        flex-direction: row;
    }
    .info-propostas .propostas-container > div {
        width: 50%;
    }
}
